@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
*{
    color:burlywood;
    font-family: "Rajdhani", sans-serif;
}
body{
    background-color:#bd0f2f;
}

#top{
    background-color:darkred;
    padding-bottom: 25px;
}
h1{
    display: inline;
    border:2px solid grey;
    border-radius: 10px;
    background-color:crimson;
    opacity: 0.8;
}
i{
    font-size: 40px;
    color:#bd0f2f;
}
.click{
    display: inline;
    border:2px solid grey;
    padding:5px 20px;
    max-width:30px;
    
    background-color:crimson ;
    font-size: 20px;
    border-radius: 10px;
    opacity: 0.8;
}
#about{
    /* display:flex; */

}
#picture{
    background-image: url(pixil-frame.png);
    text-align: center;
    /* background-size: cover; */
}
p{
    text-align: center;
    font-size: 30px;
    margin-left: 200px;
    margin-right: 200px;
    min-width: 250px;
}
#mortar{
    width: 250px;
    height:150px;
    position: absolute;
    left:50px;
    top: 350px;
}
#brick{
    width: 250px;
    height:150px;
    position: absolute;
    right:20px;
    top: 350px;
}